<h1>Rock, Paper, Scissors!</h1>
<b>HOW TO PLAY</b><br>
<p>To play paper, for example, you may enter "/throw/paper" at the end of the url or simply click on the link provided below</p>
<p>To view your stats, clear all results, or view these instructions again, you can navigate them on the links below</p>