<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors!</title>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
<br>
Throw a <a href = "/throw/rock">ROCK</a><br>
Throw a <a href = "/throw/paper">PAPER</a><br>
Throw a <a href = "/throw/scissors">SCISSORS</a><br><br>
<a href = "/throw">INSTRUCTIONS</a><br>
<a href = "/stats">STATS</a><br>
<a href = "/clear">CLEAR SESSION</a>
</body>
</html>